 body {
     background: url("../img/Animo1_LS.jpg") no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }


 @media screen and (max-device-width: 768px) {
     body {
         background: url("../img/Animo1_LS.jpg") no-repeat center fixed;
     }
     .btn {
         display: none;
     }
     .btn-default {
         display: none;
     }
 }

 button
 {
   height:30px;
   width:150px;
   border-radius:8px;
   padding:10px;
   font-size:20px;
   font-family: 'Oswald', sans-serif;
   height:52px;
   cursor:pointer;
   background-color:wheat;
 }
