body {
    background: url("../img/Animo1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nightcore {
    text-align: center;
    width: 100%;
    vertical-align: middle;
    margin-top: 1em;
    height: 100%;
    display: table;
}

@media screen and (max-device-width: 768px) {
    body {
        background: url("../img/Animo1.jpg") no-repeat center fixed;
    }
    .btn {
        display: none;
    }
    .btn-default {
        display: none;
    }
}

.center {
    text-align: center;
    margin-top: 24em;
    color: black;
    font-weight: bold;
}
