body {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
@media screen and (max-device-width: 768px) {
	.btn {
		display: none;
	}
	.btn-default {
		display: none;
	}
}