 body {
 	background: url("../img/background.jpg") no-repeat center center fixed;
 }
 @media screen and (max-device-width: 768px) {
 	body {
 		background: url("../img/background.jpg") no-repeat center fixed;
 	}
 }
 .center {
 	text-align: center;
 	margin-top: 21em;
 	color: black;
 	font-weight: bold;
 }